// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  text-align: center;
}

ul {
  list-style-type: none;
}

h1, h3, .description {
  text-align: center;
  margin: 10px;
  font-family: Josefin Sans, sans-serif;
  font-weight: bold;
}

.track-play, .track-delete {
  margin: 5px;
}

.organ {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  width: 400px;
  box-shadow: 2px 2px #BBB;
}

.keynote {
  float: left;
  height: 200px;
  width: 12.5%;
  text-align: center;
  line-height: 200px;
  align-items: center;
  box-shadow: 3px 3px #AAA;
}

.recorder {
  display: flex;
  justify-content: space-around;
  background: #DDD;
  width: 300px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 25px;
  border: 1px solid black;
}

.jukebox {
  display: flex;
  align-items: center;
  width: 200px;
}

.jukebox-tracks {
  align-items: center;
  width: 200px;
  margin: 0 auto;
}

.C5 {
  background-color: #B8F7D4;
}

.D5 {
  background-color: #FFA5A5;
}

.E5 {
  background-color: #FFFFC2;
}

.F5 {
  background-color: #C8E7ED;
}

.G5 {
  background-color: #BFCFFF;
}

.A5 {
  background-color: #6FE7DB;
}

.B5 {
  background-color: #7FA6EE;
}

.C6 {
  background-color: #835AF1;
}

.playing {
  box-shadow: -3px 0 #AAA;
  background-color: #EEE;
}
